

img{
    background-image: url("background main.jpg");
    background-size: contain;
    position:relative;
    max-width:2000px;
}

.links{
    position:relative;
    bottom:1290px;
    left:1060px;
    margin:10px;
    color: white;
    background-color: rgb(124, 202, 6);
    font-size: 18px;
    border: 2px solid white;
    border-radius: 2em;
    padding-left: 8px;
    padding-right: 8px;
    padding-top:8px;
    padding-bottom:8px;
}

.animation{
    width:500px;
    height:500px;
    margin:10px;
    position: relative;
    bottom: 660px;
    right: 110px;
}

