a{
text-decoration:none;               
}

body{
    margin:0;
    padding:0;                      
    box-sizing: border-box; 
    font-family:'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height:100vh;
    display:flex;                          
    align-items: center;
    justify-content: center;  
}

/* header section */
.header{
    background-image: url("background main.png");
    background-size:cover;
    background-position: center;
    position:relative;
    z-index:1;
}

.header::after{
    position:absolute;
    background-color: rgb(0, 217, 0);
    content:'';
    height: 100%;
    width:100%;
    top:0;
    left:0;
    opacity:.6;
    z-index:-1
}

.header a{
    display:block;
    width:fit-content;
    position:relative;
    color:black;
    background-color:rgb(255, 255, 255);
    border-radius:2.5em;
    font-size: 25px;
    margin:30px;
    border:5px solid black;
    border-radius: 5em;
    padding:10px 30px;
    transition-property: background-color color;
    transition:.8s ease-in-out;
    transition-delay: .1s;
}

a:hover{
    color:white;
    background-color:black;
    
} 
/* End eyes section */
