*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;   
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*start header*/


.header{
    position:fixed;
    display: flex;
    background-color: rgb(255, 255, 255);
    width:100vw;
    justify-content:space-between;
    z-index:2;
}    

.logo{
    margin: 10px;
    margin-left: 50px;
    border:2px solid black;
}

.menu-links{
    list-style-type: none;
    display: flex;
    align-items: center;
}
   
.menu-links > li > a{
    display:inline;
    margin-right: 50px;
    padding: 5px 8px 5px;
    background-color:white;
    border: 1px solid black;
    border-radius: 10em;
    font-size: 18px;
    color: black;
    transition: 1s;
}

.cnt:hover{
    background-color: black;
    border:1px solid white;
    color: white;
    transition-property: border color background-color;
    transition: 1s;
}

.clt:hover{
    background-color: black;
    border:1px solid white;
    color: white;
    transition-property: border color background-color;
    transition: 1s;
}

.menu-links .abt{
    background-color: rgb(221, 30, 30);
    color:white;
}

.intersection-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.about{
    position:absolute;
    z-index:2;
    margin-top:50px;
    color:white;
}

h3, .home{
    display: flex;
    font-size:50px;
    color:white;
    padding:30px;
    justify-content: center;
}

.separation{
    display: flex;
    position: absolute;
    left: 140px;
    border: 0.5px solid white;
    width:40px; 
}

.text-container{
    display:flex;
}

.text{
    display:flex;
    justify-content: space-between;
    padding:50px 50px;
}

.box1, .box2{
    background-color:rgb(255, 173, 185);
    background: linear-gradient(rgb(255, 173, 185), rgba(255, 0, 30, 0.637));
    margin: 50px;
    padding:20px 20px;
    padding-bottom:20px;
}

.box1{
    flex:3;
}

.box2{
    flex:2;
    align-self: center;
}

.citation{
    font-size: 40px;
    font-family: "Istok Web", sans-serif;
    text-transform: uppercase; 
    color:white;
    font-weight:bold
}

p{
    font-size: 20px;
    padding-top: 40px;
    text-transform: lowercase; 
    line-height: 1.5;
    color:black;
    font-weight: normal;
}