*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
}


.header{
    display:flex;
    position:fixed;
    width:100vw;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.logo{
    margin: 10px;
    margin-left: 50px;
    border:2px solid black;
}

.menu-links{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu-links > li > a{
    display:inline;
    margin-right: 50px;
    padding: 5px 8px 5px;
    background-color:white;
    border: 1px solid black;
    border-radius: 10em;
    font-size: 18px;
    color: black;
    transition: 1s;
}

.menu-links .clt{
    background-color: rgb(0, 173, 0);
    color:white;
}

.abt:hover{
    background-color: black;
    border:1px solid white;
    color: white;
    transition-property: border color background-color;
    transition: 1s;
}

.cnt:hover{
    background-color: black;
    border:1px solid white;
    color: white;
    transition-property: border color background-color;
    transition: 1s;
}

.title-container{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.title{
    position:absolute;
    padding-right: 300px;
    padding-top:100px;
}

h3, .home{
    color:white;
    font-size: 60px;
    font-family: "Istok Web", sans-serif;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.separation{
    border: 0.5px solid white;
    width:40px; 
    position: absolute;
    left: 150px;
}

.text-container{
    display:flex;
    height:100vh;
}

.text{
    display:flex;
    width:100vw;
    justify-content: space-between;
    padding:100px 100px;
}

.circle1, .circle2{
    border: 2px solid white;
    background-color: rgb(79, 132, 0);
    width: 500px;
    height:500px;
    border-radius:300px;
}

.circle2{
    align-self: flex-end;
}

.hidden-food, .hidden-sport{
    display:none;
   
}

.reveal-food, .reveal-sport {
    display:block;
    font-size: 10px;
    font-family: "Istok Web", sans-serif;
    text-transform: uppercase; 
    color: aliceblue;
    text-align:center;
    height:500px;
    display:flex;
    flex-flow: column;
    justify-content: center;
    padding:40px;
    line-height:15px;
}

 p{
    padding-bottom:30px;
    font-size:20px;
    line-height:20px;
    font-weight: bold;
}


    




